body {
  font-family: sans-serif;
  font-size: 18px;
}
path {
  stroke:white;
  stroke-width: 4px;
}
path:hover {
  opacity: 0.7;
}

/*bar*/

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}
